# /etc/systemd/system/helloapp.service
[Unit]
Description=Advanced Webtech App
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/40673258/assignment
ExecStart=/home/40673258/assignment/env/bin/waitress-serve --listen=127.0.0.1:5000 assignment:app
Restart=always

[Install]
WantedBy=multi-user.target
